div#game-board{
	border: black 1px solid;
	width: 800px;
	height:540px;
	padding: 24px;
	margin:0px auto;
}

div#game-board > div {
	width: 80px;
	height: 80px;
	float:left;
	margin:15px;
	padding: 15px;
	cursor:pointer;
	text-align:center;
}

