#game-board{
	border: black 1px solid;
	width: 400px;
	height:400px;
	padding: 24px;
	margin:0px auto;
}


#game-board img {
	width: 80px;
	height: 80px;
	margin:3px;
	cursor: pointer;
}

h1 {
	text-align:center;
}

body{
	background-color:pink;
}

.button {
	clear:left;
}